QProgressBar {
    border-radius: 4px;
    max-height: 10px;
    outline-radius: 10px;
    margin-left:0px;
    padding-left:0px;
/*    text-align: left;*/



}

QProgressBar::chunk {
    background-color : rgb(0, 201, 80);
    border-radius: 4px;
    margin-left:0px;
    padding-left:0px;
}