#logoIcon {
    background-color: transparent;
    border-color: red;
    border-radius: 10px;
    font-size: 30px;
}

#logoText {
    color: {{TEXT}};
    font-size: 25px;
    font-weight: 800;
    background: transparent;
}