NavigationItem {
    background-color: transparent;
    border-radius: 10px;
}

NavigationItem:hover {
    background: {{NAVIGATION_ITEM_HOVER}};
}

#textLabel[hovered="true"][isActive="false"] {
    color: white;
}

NavigationItem[isActive="true"] {
    background: {{NAVIGATION_ITEM_ACTIVE}};
    border-left-width: 3px;
    border-left-style : solid;
    border-left-color: {{ACCENT}};
    border-top-left-radius: 12px;
    border-bottom-left-radius:  12px;
}

 #textLabel[isActive="true"] {
    color: {{ACCENT}};
    font-weight: 600;
}

#textLabel {
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    color: {{MUTED}};
}

#iconLabel {
    background: transparent;
    font-size: 18px;
}
